
@{
    ViewData["Title"] = "Main";
}

<div class="container">
    <div class="row">
        <div class="col selectedAlphabet">A</div>
        <div class="col">B</div>
        <div class="col">C</div>
        <div class="col">D</div>
        <div class="col">E</div>

        <div class="col">F</div>
        <div class="col">G</div>
        <div class="col">H</div>
        <div class="col">I</div>
        <div class="col">J</div>

        <div class="col">K</div>
        <div class="col">L</div>
        <div class="col">M</div>
        <div class="col">N</div>
        <div class="col">O</div>

        <div class="col">P</div>
        <div class="col">Q</div>
        <div class="col">R</div>
        <div class="col">S</div>
        <div class="col">T</div>

        <div class="col">U</div>
        <div class="col">V</div>
        <div class="col">W</div>
        <div class="col">X</div>
        <div class="col">Y</div>

        <div class="col">Z</div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    <div class="row">
        <div class="col-sm table-wrapper-scroll-y my-custom-scrollbar">
            <h2>Model</h2>
            <table id="tblModel" class="table table-striped table-hover overflow-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <th scope="row">1</th>
                        <td>Sample</td>
                        <td>샘플 개체입니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">13</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">14</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">15</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">16</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">17</th>
                        <td>Goods</td>
                        <td>상품 개체</td>
                    </tr>
                    <tr>
                        <th scope="row">18</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">19</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                    <tr>
                        <th scope="row">20</th>
                        <td>Price</td>
                        <td>가격</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm table-wrapper-scroll-y my-custom-scrollbar">
            <h2>Property</h2>
            <table class="table table-striped table-hover overflow-auto">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <code>
                public class Sample {
                public string Id {
                get; set;
                }
                }
            </code>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var od;

        function Render() {
            var m = od.getModels();
            // [TODO]
        }
        
        $(document).ready(function () {
            od = App.module.objectDictionary();
            od.setUrl('https://localhost:44337/api');
            od.getAll(Render);

        });



    </script>
}